.form-login{
    position:relative;
    top:200px;
}

#sign-up-form{
    position:absolute;
    top:300px;
}



/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/