<form id="form-login" (ngSubmit)="onLoginSubmit()">
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="username">Username</span>
  </div>
  <input type="text" [(ngModel)]="credentials.name" id="name" name="name" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
</div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="password">Password</span>
    </div>
    <input type="text" [(ngModel)]="credentials.pass" id="pass" name="pass" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
  </div>
  <button id="login-button" type="submit" class="btn btn-primary">Login</button>
</form>

<doctor-form></doctor-form>


<!--<div class="row" id="sign-up-form">-->
<!--  <div class="col">-->
<!--    <div ngbDropdown class="d-inline-block">-->
<!--      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Sign up user</button>-->
<!--      <div ngbDropdownMenu aria-labelledby="dropdownForm1">-->
<!--        <form class="px-4 py-3" (ngSubmit)="signUpUser()">-->
<!--          <div class="form-group">-->
<!--            <label for="exampleDropdownFormName1">Username</label>-->
<!--            <input type="email" class="form-control" id="exampleDropdownFormName1"  style="width:250px"-->
<!--                   [(ngModel)]="newUser.name" name="name">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="exampleDropdownFormEmail1">Email address</label>-->
<!--            <input type="email" class="form-control" id="exampleDropdownFormEmail1" style="width:250px"-->
<!--                   [(ngModel)]="newUser.email" name="email">-->
<!--          </div>-->
<!--          <div class="form-group">-->
<!--            <label for="exampleDropdownFormPassword1">Password</label>-->
<!--            <input type="password" class="form-control" id="exampleDropdownFormPassword1"-->
<!--                   [(ngModel)]="newUser.password" name="password">-->
<!--          </div>-->
<!--          <button type="submit" class="btn btn-primary">Sign in</button>-->
<!--        </form>-->
<!--        <div class="dropdown-divider"></div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->