<div class="row" id="sign-up-form">
  <div class="col">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Signup</button>
      <div ngbDropdownMenu aria-labelledby="dropdownForm1">
        <form class="px-4 py-3" (ngSubmit)="confirmUser()">
          <h1>Doctor signup</h1>

          <div class="form-group">
            <label for="Username">Username</label>
            <input type="email" class="form-control" id="Username"  style="width:250px"
                   [(ngModel)]="doctor.username" name="username">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormName1">Name</label>
            <input class="form-control" id="exampleDropdownFormName1"  style="width:250px"
                   [(ngModel)]="doctor.name" name="name">
          </div>
          <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1"
                   [(ngModel)]="doctor.password" name="password">
          </div>

          <div class="form-group">
            <label for="Birthdate">Birthdate</label>
            <input type="text" class="form-control" id="Birthdate"
                   [(ngModel)]="doctor.birthDate" name="birthDate">
          </div>

          <div class="form-group">
            <label for="Gender">Gender</label>
            <input type="text" class="form-control" id="Gender"
                   [(ngModel)]="doctor.gender" name="gender">
          </div>

          <div class="form-group">
            <label for="Adress">Adress</label>
            <input type="text" class="form-control" id="Adress"
                   [(ngModel)]="doctor.adress" name="adress">
          </div>

          <button type="submit">Confirm</button>

        </form>
      </div>
    </div>
  </div>
</div>