#table{
    vertical-align: center;
    horiz-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    padding: 20px;
    padding-bottom: 100px;
}
