<form class="px-4 py-3" (ngSubmit)="confirmUser()">
  <div class="form-group">
    <label for="Username">Username</label>
    <input class="form-control" id="Username" [(ngModel)]="user.username" name="username">
  </div>
  <div class="form-group">
    <label for="exampleDropdownFormName1">Name</label>
    <input class="form-control" id="exampleDropdownFormName1" [(ngModel)]="user.name" name="name">
  </div>
  <div class="form-group">
    <label for="exampleDropdownFormPassword1">Password</label>
    <input type="password" class="form-control" id="exampleDropdownFormPassword1"
           [(ngModel)]="user.password" name="password">
  </div>

  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="Patient" name="defaultExampleRadios" (change)="setRole('Patient')">
    <label class="custom-control-label" for="Patient">Patient</label>
  </div>

  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" id="Caregiver" name="defaultExampleRadios" (change)="setRole('Caregiver')">
    <label class="custom-control-label" for="Caregiver">Caregiver</label>
  </div>

  <div *ngIf="this.role==='Patient'">
    <div class="form-group">
      <label for="MedicalRec">Medical record</label>
      <input type="email" class="form-control" id="MedicalRec"  [(ngModel)]="medicalRecord" name="medicalRecord">
    </div>
  </div>

  <div class="form-group">
  <div *ngIf="this.role==='Caregiver'">
    <table  class="table table-striped">
      <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Name</th>
        <th scope="col">Medical record</th>
        <th scope="col">Pick</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let patient of patients; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ patient.patient.name}}</td>
        <td>{{ patient.patient.medicalRecord}}</td>
        <input type="checkbox" (click)="checkEvt(patient.patient.name)">
      </tr>
      </tbody>
    </table>
  </div>
  </div>

  <div class="form-group">
    <label for="Birthdate">Birthdate</label>
    <input class="form-control" id="Birthdate"
           [(ngModel)]="user.birthDate" name="birthDate">
  </div>

  <div class="form-group">
    <label for="Gender">Gender</label>
    <input  class="form-control" id="Gender"
           [(ngModel)]="user.gender" name="gender">
  </div>

  <div class="form-group">
    <label for="Adress">Adress</label>
    <input class="form-control" id="Adress"
           [(ngModel)]="user.adress" name="adress">
  </div>

  <button type="submit" class="btn btn-primary">Confirm</button>
</form>