<table id="table1" class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Index</th>
    <th scope="col">ID</th>
    <th scope="col">Name</th>
    <th scope="col">Password</th>
    <th scope="col">Birthdate</th>
    <th scope="col">Gender</th>
    <th scope="col">Adress</th>
    <th scope="col">Medical record</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of patients; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ user.id}}</td>
    <td>{{ user.name}}</td>
    <td>{{ user.password}}</td>
    <td>{{ user.birthDate}}</td>
    <td>{{ user.gender}}</td>
    <td>{{ user.adress}}</td>
    <td>{{user.medicalRecord}}</td>
  </tr>
  </tbody>
</table>